[submodule "lib/cudnn-frontend"]
	path = lib/cudnn-frontend
	url = https://github.com/NVIDIA/cudnn-frontend.git
[submodule "lib/hedgehog"]
	path = lib/hedgehog
	url = https://github.com/usnistgov/hedgehog.git
