[submodule "lib/cudnn-frontend"]
	path = lib/cudnn-frontend
	url = https://github.com/NVIDIA/cudnn-frontend.git
[submodule "lib/hedgehog"]
	path = lib/hedgehog
	url = https://github.com/usnistgov/hedgehog.git
[submodule "lib/serializer-cpp"]
	path = lib/serializer-cpp
	url = https://github.com/drfailer/serializer-cpp.git
[submodule "lib/hh_communicator_draft"]
	path = lib/hh_communicator_draft
	url = https://github.com/drfailer/hh_communicator_draft.git
